In [111]:
import json
import pandas as pd

In [16]:
data = []
with open('daf97a3f-0b5e-a32f-b5bf-7b8187204b19-jsonl.jsonl', 'r', encoding='utf-8') as f:
    for line in f:
        data.append(json.loads(line))

In [17]:
df = pd.DataFrame(data)

df.head()

,creator,datePublished,docSubType,docType,doi,fullText,id,identifier,keyphrase,language,...,trigramCount,abstract,isPartOf,issueNumber,pageCount,volumeNumber,placeOfPublication,sequence,subTitle,hasPartTitle
0,"[Francisco L. Loaiza-Lemos, Dale Visser, Russe...",2018-03-30,backmatter,research_report,10.2307/resrep22871.11,[Form Approved REPORT DOCUMENTATION PAGE OMB N...,http://www.jstor.org/stable/resrep22871.11,"[{'name': 'doi', 'value': '10.2307/resrep22871...","[loaiza lemos, apache solr, recursive sql, sai...",[eng],...,"{'VA 22202-4302. Respondents': 1, 'Final Repor...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[Trudy H. Bers],1988-10-01,research-article,article,10.2307/40785217,NaN,http://www.jstor.org/stable/40785217,"[{'name': 'doi', 'value': '10.2307/40785217'},...","[students, community college, persistence, maj...",[eng],...,"{'reported here presents': 1, 'reveals that th...",This article presents the results of an adapta...,Research in Higher Education,2,13.0,29,NaN,NaN,NaN,NaN
2,"[Tamas Kukla, Tamas Kiss, Peter Kacsuk, Gabor ...",2009-06-28,research-article,article,10.2307/40485598,NaN,http://www.jstor.org/stable/40485598,"[{'name': 'doi', 'value': '10.2307/40485598'},...","[ogsa dai, workflow, integration, client, ogsa...",[eng],...,"{'retrieving data via': 1, 'Oinn, T. et': 1, '...",Although many scientific applications rely on ...,"Philosophical Transactions: Mathematical, Phys...",1897,12.0,367,NaN,NaN,NaN,NaN
3,"[Amy Fairchild, David Rosner]",1999-04-01,research-article,article,10.2307/44445197,NaN,http://www.jstor.org/stable/44445197,"[{'name': 'doi', 'value': '10.2307/44445197'},...","[sanitary, living city, david rosner, amy fair...",[eng],...,"{'espe- cially such': 1, 'distribution - the':...",NaN,Bulletin of the History of Medicine,1,6.0,73,NaN,NaN,NaN,NaN
4,"[Kayri Havens, Pati Vitt, Susanne Masi]",2012-08-01,research-article,article,10.2307/41811399,NaN,http://www.jstor.org/stable/41811399,"[{'name': 'doi', 'value': '10.2307/41811399'},...","[volunteers, monitoring, species, plant popula...",[eng],...,"{'Thirty-seven plant populations': 1, 'have pl...","Plants of Concern, a program administered by t...",Frontiers in Ecology and the Environment,6,3.0,10,NaN,NaN,NaN,NaN

In [3]:
df_bigram = pd.read_csv('daf97a3f-0b5e-a32f-b5bf-7b8187204b19-bigrams.csv')

In [30]:
df_bigram.head()

                        id             ngram  count
0  ark://27927/pjb5wnvmz93       the article      2
1  ark://27927/pjb5wnvmz93      for academic      1
2  ark://27927/pjb5wnvmz93     having nearly      1
3  ark://27927/pjb5wnvmz93  photograph shows      1
4  ark://27927/pjb5wnvmz93   tools typically      1

In [54]:
df_bigram2 = df_bigram.groupby('id').apply(lambda x: dict(zip(x['ngram'], x['count']))).reset_index().rename(columns={0:"ngramCount"})

In [55]:
df_bigram2.head()

                        id                                         ngramCount
0  ark://27927/pbd189d2pr6  {'of gis': 1, 'been invisible.1': 1, 'offset f...
1  ark://27927/pbd1pgqfbnb  {'braking distance': 1, 'confidence computatio...
2  ark://27927/pbd1pgqfh9d  {'original data': 3, 'temporal overflows.': 1,...
3  ark://27927/pbd1pgrrq8r  {'The converse': 1, 'conformation. Where': 1, ...
4  ark://27927/pbd1pgrrtqg  {'if statement,': 1, 'importing, 103': 1, '34 ...

In [74]:
df2 = pd.merge(df, df_bigram2, on='id', how='right')

In [79]:
df2.columns

Index(['creator', 'datePublished', 'docSubType', 'docType', 'doi', 'fullText',
       'id', 'identifier', 'keyphrase', 'language', 'outputFormat', 'pageEnd',
       'pageStart', 'pagination', 'provider', 'publicationYear', 'publisher',
       'sourceCategory', 'tdmCategory', 'title', 'url', 'wordCount',
       'unigramCount', 'bigramCount', 'trigramCount', 'abstract', 'isPartOf',
       'issueNumber', 'pageCount', 'volumeNumber', 'placeOfPublication',
       'sequence', 'subTitle', 'hasPartTitle', 'ngramCount'],
      dtype='object')

In [81]:
df2 = df2[['creator', 'datePublished', 'docType',
       'id', 'publicationYear', 'publisher',
       'title', 'placeOfPublication','ngramCount']]

In [93]:
df2 = df2.drop_duplicates(subset=['creator'])

In [100]:
df2['anSQLCount'] = [d.get('an SQL') for d in df2['ngramCount']]
df2['aSQLCount'] = [d.get('a SQL') for d in df2['ngramCount']]

df2['anSQLCount']

0       NaN
1       1.0
3       1.0
5       NaN
7       NaN
       ...
2615    NaN
2618    NaN
2621    NaN
2623    NaN
2624    1.0
Name: anSQLCount, Length: 2328, dtype: float64

In [102]:
df2['anSQLCount'] = df2['anSQLCount'].fillna(0)
df2['aSQLCount'] = df2['aSQLCount'].fillna(0)

df2['anSQLCount']

0       0.0
1       1.0
3       1.0
5       0.0
7       0.0
       ...
2615    0.0
2618    0.0
2621    0.0
2623    0.0
2624    1.0
Name: anSQLCount, Length: 2328, dtype: float64

In [104]:
df2['anSQL'] = df2['anSQLCount'].copy()
df2['aSQL'] = df2['aSQLCount'].copy()

df2.loc[df2['anSQL'] != 0, 'anSQL'] = 1
df2.loc[df2['aSQL'] != 0, 'aSQL'] = 1

df2.loc[df2['aSQLCount']>1]

,creator,datePublished,docType,id,publicationYear,publisher,title,placeOfPublication,ngramCount,anSQLCount,aSQLCount,anSQL,aSQL
129,"[Tong Chen, Hao Yu, Gang Luo]",2007-07-25,article,ark://27927/pc08rz1qmd,2007,"John Wiley & Sons, Inc.",Toward a progress indicator for program compil...,NaN,"{'simplified assumptions.': 1, 'be finished': ...",0.0,2.0,0.0,1.0
145,"[Hai Huang, Wei‐Tek Tsai]",1999-09-01,article,ark://27927/pc0dd7fg0,1999,"John Wiley & Sons, Inc.",VSAM conversion for COBOL programs,NaN,"{'based techniques': 1, '004375 :H-DB2-N-MASTE...",14.0,2.0,1.0,1.0
487,[ZhijieXu IainClements],2005-04-01,article,ark://27927/pgj21wpk7br,2005,Emerald Group Publishing,ELCAT: an e‐learning content adaptation toolkit,NaN,"{'system would': 1, 'potential for': 1, 'sourc...",0.0,2.0,0.0,1.0
526,[DeeAnnAllison],2012-03-02,article,ark://27927/pgj2d6n0g3r,2012,Emerald Group Publishing,Chatbots in the library: is it time?,NaN,"{'the ambiguity': 1, 'privilege of': 1, 'servi...",0.0,2.0,0.0,1.0
557,[UrsRaas],1999-08-01,article,ark://27927/pgj2dxnx8gf,1999,Emerald Group Publishing,Electronic recordkeeping – more than electroni...,NaN,"{'records management': 11, 'the search': 1, 'w...",0.0,2.0,0.0,1.0
576,"[Wes Masri, Sam Sleiman]",2015-10-01,article,ark://27927/pgj2hhb2s59,2015,"John Wiley & Sons, Inc.",SQLPIL: SQL injection prevention by input labe...,NaN,"{'≥ OFFSET': 1, 'McKinley KS,': 1, 'transforme...",0.0,5.0,0.0,1.0
598,"[Julio Castillo, Edward Vanden Berghe, Jesse C...",2012-04-01,article,ark://27927/pgj3f15pvt,2012,"John Wiley & Sons, Inc.",Advancing Global Marine Biogeography Research ...,NaN,"{'default representation': 1, 'one million': 1...",0.0,2.0,0.0,1.0
719,"[Chalermek Intanagonwiwat, Nuttanart Pornprasi...",2012-04-01,article,ark://27927/phw16qpxnwg,2012,SAGE Publications,Logic Macroprogramming for Wireless Sensor Net...,NaN,"{'by suppressing': 1, 'of Bottom-Up': 1, 'ACM ...",0.0,2.0,0.0,1.0
748,"[Seung L. Park, C. Andrew Robinson, Matthew D....",2015-06-01,article,ark://27927/phw23k710wt,2015,SAGE Publications,Computer Extraction of Data from Autopsy and T...,NaN,"{'of pathologist,': 1, '8; 61(4):1-117.': 1, '...",0.0,3.0,0.0,1.0
785,[Andrew. Mendelsohn],2013-09-27,article,ark://27927/phw6h0zh4m,2013,Project MUSE,The Oracle Story: 1984-2001,NaN,"{'months at': 1, '(ETL), multidimensional': 1,...",0.0,2.0,0.0,1.0
808,"[Xuejiao Liu, Debao Xiao, Chengfang Fang]",2011-12-01,article,ark://27927/phwcprqq7n,2011,"John Wiley & Sons, Inc.",Intrusion diagnosis and prediction with expert...,NaN,"{'classifier is': 1, 'e (possible': 1, 'proble...",0.0,2.0,0.0,1.0
819,"[Monica Sebillo, Luca Paolino, Giuliana Vitiel...",2010-12-01,article,ark://27927/phwftc6j2k,2010,"John Wiley & Sons, Inc.",Integrating Discrete and Continuous Data in an...,NaN,"{'two communities': 1, 'statement and': 1, 'by...",0.0,2.0,0.0,1.0
903,"[Ph. Gerth, F. Schäfer, N. Magdalinski, F. Sch...",2013-01-01,article,ark://27927/phx1t29vdzb,2013,Copernicus Publications,CONCEPTS AND TECHNOLOGIES FOR A COMPREHENSIVE ...,NaN,"{'Data Retrieval,': 1, 'PostGIS 2.0': 2, 'they...",0.0,3.0,0.0,1.0
945,"[Prakash Bodla, Sunil Magavi, Johnny Wong]",1995-11-01,article,ark://27927/phx2hvm9tf1,1995,"John Wiley & Sons, Inc.",Design and implementation of heterogeneous dis...,NaN,"{'1 /magavi/gsql': 1, 'information without': 1...",2.0,3.0,1.0,1.0
966,"[Il‐Yeol Song, Erjia Yan, Yongjun Zhu]",2017-02-01,article,ark://27927/phx2s2223gp,2017,"John Wiley & Sons, Inc.",The use of a graph‐based system to improve bib...,NaN,"{'and Graph': 1, '(in yel-': 1, 'from less': 1...",0.0,2.0,0.0,1.0
967,[Veterinary and Agrochemical Research Centre (...,2016-12-01,article,ark://27927/phx2s2rm672,2016,"John Wiley & Sons, Inc.",Implementation and testing of electronic submi...,NaN,"{'couple report-disease': 1, 'the check': 2, '...",1.0,2.0,1.0,1.0
1027,[Joseph H. Goldberg],2003-10-01,article,ark://27927/phx44vkn59w,2003,SAGE Publications,Facilitating Database Queries: Graphical versu...,NaN,"{'preview, and': 1, 'interface. For': 1, 'data...",0.0,2.0,0.0,1.0
1049,"[Matthias Jarke, Manfred A. Jeusfeld]",1996-09-01,article,ark://27927/phx4mv5zfzs,1996,SAGE Publications,Enterprise Integration by Market-Driven Schema...,NaN,"{'enforced. As': 1, 'of designers': 2, 'the ’s...",4.0,3.0,1.0,1.0
1108,[Márta Erzsébet Czenky],2014-02-02,article,ark://27927/phx5qmkd27r,2014,International Association of Online Engineering,How Do the Engineer Students Learn the SQL Lan...,NaN,"{'proved that': 1, 'selection we': 1, 'LINQ, W...",0.0,2.0,0.0,1.0
1111,"[Bao-Rong Chang, Chi-Chung Chen, Dr Teen-Hang ...",2016-08-01,article,ark://27927/phx5szkxwf,2016,Emerald Group Publishing,Integration and optimization of multiple big d...,NaN,"{'for further': 1, 'a map-reduce': 1, 'K. and'...",1.0,2.0,1.0,1.0
1129,"[Larry D Baca, Michael D Proctor]",2017-07-01,article,ark://27927/phx5z349f62,2017,SAGE Publications,Friendly casualty outcomes: choice of counter ...,NaN,"{'some units,': 1, 'levels. As': 1, 'of differ...",0.0,2.0,0.0,1.0
1283,[JAMES J. SIMPSON],1992-09-01,article,ark://27927/phx9cn5325,1992,"John Wiley & Sons, Inc.",Remote sensing and geographical information sy...,NaN,"{'is charac-': 1, 'the ratio': 1, 'IEEE Transa...",1.0,2.0,1.0,1.0
1301,"[Juan Miguel Medina, Olga Pons, Carlos D. Barr...",2016-12-01,article,ark://27927/phxm8hrhg3,2016,"John Wiley & Sons, Inc.",Evaluation of Indexing Strategies for Possibil...,NaN,"{'in our': 7, 'resulting execution': 1, 'used ...",0.0,5.0,0.0,1.0
1310,"[Simin Nadjm-Tehrani, Urko Zurutuza, Roberto U...",2016-03-14,article,ark://27927/phxnsqhns2,2016,Hindawi,Detection and Visualization of Android Malware...,NaN,"{'literature there': 1, 'browser to': 1, '536 ...",0.0,2.0,0.0,1.0
1327,"[Tianyu Zhang, J. Heled, Xin Lian, A. Yuan]",2018-06-19,article,ark://27927/phz19g3k351,2018,EDP Sciences,The Optimization of Cost-Model for Join Operat...,NaN,"{'T= +': 2, 'R L': 4, 'very small,': 1, 'data....",0.0,4.0,0.0,1.0
1384,"[Morgan McConico, Frank Vogt, Edward Duranty, ...",2011-04-01,article,ark://27927/phz2js8gzfw,2011,SAGE Publications,Fourier Transform Infrared (FT-IR) Spectroscop...,NaN,"{'database of': 1, '(from J.T.': 2, 'normalizi...",0.0,2.0,0.0,1.0
1396,"[Bharat B. Mittal, Arkajyoti Roy, Mahesh Gopal...",2018-09-01,article,ark://27927/phz2r0zqvzq,2018,"John Wiley & Sons, Inc.",DVH Analytics: A DVH database for clinicians a...,NaN,"{'Searchable categories.': 1, 'mitigate these'...",0.0,3.0,0.0,1.0
1417,"[K. E. Willard, B. H. Sielaff, D. P. Connelly]",1995-05-01,article,ark://27927/phz334kc6g,1995,Thieme Publishing Group,Integrating Legacy Laboratory Information Syst...,NaN,"{'ronment. To': 1, 'is eventually': 1, 'provid...",0.0,2.0,0.0,1.0
1423,"[B. Johansson, H. Åhlfeldt, O. Wigertz, N. Sha...",1996-09-01,article,ark://27927/phz35n0x30,1996,Thieme Publishing Group,Database and Knowledge Base Integration – A Da...,NaN,"{'and their': 1, 'For personal': 7, 'BETWEEN H...",0.0,3.0,0.0,1.0
1427,"[Issue Editor: Radu Prodan, Issue Editor: Alex...",2018-10-25,article,ark://27927/phz39b6fp2m,2018,"John Wiley & Sons, Inc.",Automatic translation from Java to Spark,NaN,"{'the synchronous': 3, 'and required': 1, 'Dis...",0.0,2.0,0.0,1.0
1464,"[Steven Jones, Randy K. Smith, Jenna K. Simand...",2016-01-01,article,ark://27927/phz4p16j813,2016,SAGE Publications,Making Use of Big Data to Evaluate the Effecti...,NaN,"{'enforcement data,': 2, 'enforcement at': 3, ...",0.0,2.0,0.0,1.0
1508,"[Davood Rafiei, Yunyao Li]",2018-08-13,article,ark://27927/phz5qwjcqzv,2018,Morgan & Claypool Publishers,Natural Language Data Management and Interfaces,NaN,"{'This phenomenon': 1, 'interpreted remains': ...",0.0,4.0,0.0,1.0
1545,[Ruihong Huang],2019-01-01,article,ark://27927/phz6qrhj787,2019,SAGE Publications,Simulating individual work trips for transit-f...,NaN,"{'in single-family': 1, 'data structure': 1, '...",0.0,2.0,0.0,1.0
1576,"[Chalermek Intanagonwiwat, Nuttanart Pornprasi...",2012-04-02,article,ark://27927/phz7pnjthc2,2012,Hindawi,Logic Macroprogramming for Wireless Sensor Net...,NaN,"{'still need': 1, 'answers. The': 2, 'filter i...",0.0,2.0,0.0,1.0
1608,"[TIARK ROMPF, NADA AMIN]",2019-06-03,article,ark://27927/phz8q51cx93,2019,Cambridge University Press,A SQL to C compiler in 500 lines of code,NaN,"{'DictValue(idx: Rep[Long])': 1, 'experiment (...",0.0,7.0,0.0,1.0
1658,"[Wenbo Tao, Xiaoyu Liu, Leilani Battle, Michae...",2019-06-01,article,ark://27927/phz9gwfd6pj,2019,"John Wiley & Sons, Inc.",Kyrix: Interactive Pan/Zoom Visualizations at ...,NaN,"{'the 14th': 1, 'two layers': 1, 'through the'...",0.0,2.0,0.0,1.0
1693,"[Gerda van Donkersgoed, Matthijs Sam, Jacob D....",2019-09-01,article,ark://27927/phzb2c0567r,2019,"John Wiley & Sons, Inc.",Cumulative dietary exposure assessment of pest...,NaN,"{'or non-active': 2, 'to handle': 2, 'processi...",1.0,2.0,1.0,1.0
1736,"[Adrian D. Hegeman, Arthur C. Eschenlauer, Cal...",2018-01-01,article,ark://27927/phzbxq8h130,2018,F1000 Research,Improve your Galaxy text life: The Query Tabul...,NaN,"{'the BLASTP': 5, 'step workflows.': 1, 'produ...",2.0,2.0,1.0,1.0
1873,"[M.D. Patil, Twisha Choudhary, V.A. Vyawahare,...",2020-07-29,article,ark://27927/phzggj9mt8x,2020,EDP Sciences,Hindi Language Interface to Database,NaN,"{'covers 138': 2, 'In our': 1, 'in natural': 3...",0.0,6.0,0.0,1.0
1914,"[Laurens Van Hoye, Filip De Turck, Bruno Volck...",2020-11-01,article,ark://27927/phzj0g158gn,2020,"John Wiley & Sons, Inc.",Trustful ad hoc cross‐organizational data exch...,NaN,"{'O−1 …': 1, 'client receives': 1, 'on-boardin...",0.0,2.0,0.0,1.0
1954,"[Robin Andeer, Henrik Stranneheim, Måns Magnus...",2020-01-01,article,ark://27927/phzjzf1d7t7,2020,F1000 Research,Chanjo: Clincal grade sequence coverage analysis,NaN,"{'Foundation (KAW': 1, 'comparisons of': 1, 'b...",1.0,2.0,1.0,1.0
1967,"[Feras A. Batarseh, Sei Jeong, Munisamy Gopina...",2021-01-22,article,ark://27927/phzkfxc8ph0,2021,Cambridge University Press,International agricultural trade forecasting u...,NaN,"{'choice on': 2, 'for learning': 1, 'actual ta...",0.0,2.0,0.0,1.0
1984,"[Peter Ford Dominey, Maxime Petit, Grégoire Po...",2016-12-14,article,ark://27927/phzmb2f5m0,2016,John Benjamins Publishing Company,Reasoning based on consolidated real world exp...,NaN,"{'on consolidated': 16, 'if he': 1, 'file for'...",1.0,2.0,1.0,1.0
2044,"[Marcin D. Pilinski, Kaiya Wahl, W. Kent Tobis...",2021-04-01,article,ark://27927/phznf3vb3xt,2021,"John Wiley & Sons, Inc.",The SET HASDM Density Database,NaN,"{'with open': 2, 'validated through': 1, 'irra...",0.0,2.0,0.0,1.0
2091,[Alyssa J. Rolfe],2021-06-01,article,ark://27927/phzpcj8f8rf,2021,"John Wiley & Sons, Inc.",Weighted risk models for dynamic healthcare fr...,NaN,"{'time‐series anomaly': 1, '$21 trillion': 1, ...",0.0,2.0,0.0,1.0
2131,"[Adrian Eduard Negru, Costin Grigoraș, S. Rois...",2021-01-01,article,ark://27927/phzq6hp738n,2021,EDP Sciences,Analysis of data integrity and storage quality...,NaN,"{'name is': 1, 'Database update': 1, 'be chose...",0.0,2.0,0.0,1.0
2220,"[Guoqing Zhi, Wei Zhang, Yajie Mi, Yueqin Li, ...",2022-01-01,article,ark://27927/pjb3gnhxc3m,2022,Hindawi,Deep Neural Network-Based SQL Injection Detect...,NaN,"{'vulnerability datasets': 1, 'Xiao, Z.': 1, '...",0.0,4.0,0.0,1.0
2237,"[Dipankar Dasgupta, Sajib Sen, Zahid Akhtar]",2022-01-01,article,ark://27927/pjb4k2gfzc2,2022,SAGE Publications,Machine learning in cybersecurity: a comprehen...,NaN,"{'equation: wi,': 1, 'Austria, October': 1, 'A...",0.0,2.0,0.0,1.0
2274,"[Vijay Kumar, Zuopeng Wang, Xinghe Cui, Bo Li,...",2022-01-01,article,ark://27927/pjb5mn07t4q,2022,Hindawi,SQL Database-Based Child Physical Health Risk ...,NaN,"{'research aims': 1, '2020. [25]': 1, 'and M.'...",0.0,2.0,0.0,1.0
2289,"[Jovan Zivanovic, Dimitris E. Simos, Manuel Le...",2022-09-01,article,ark://27927/pjb65bbftq5,2022,"John Wiley & Sons, Inc.",Combinatorial methods for dynamic gray‐box SQL...,NaN,"{'Z, Roychoudary': 1, 'SQLi attack': 29, 'beca...",16.0,2.0,1.0,1.0
2298,"[Bader Alshemaimri, Mousa Almotairi, Ramez Elm...",2021-10-01,article,ark://27927/pjb75sgwtc,2021,"John Wiley & Sons, Inc.",A survey of problematic database code fragment...,NaN,"{'invoke these': 2, 'conceptual data': 1, 'abs...",1.0,4.0,1.0,1.0
2319,"[Misty C. Bentz, Sarah Katz]",2015-01-01,article,http://www.jstor.org/stable/10.1086/679601,2015,The University of Chicago Press,The AGN Black Hole Mass Database,NaN,"{'dimensionless scaling': 1, 'elliptical galax...",0.0,2.0,0.0,1.0
2428,"[Meng Wan, Chao Wu, Jing Wang, Yulei Qiu, Lipi...",2016-11-01,article,http://www.jstor.org/stable/26660010,2016,IOP Publishing Limited,Column Store for GWAC,NaN,"{'query using': 1, '86401.cat’ delimiters': 1,...",1.0,2.0,1.0,1.0
2454,"[Anitesh Barua, Ramnath Chellappa, Andrew B. W...",1996-12-01,article,http://www.jstor.org/stable/27750809,1996,"Taylor & Francis, Ltd.",The Design and Development of Internet- and In...,NaN,"{'Web database': 1, 'firm. But': 1, 'Systems. ...",0.0,2.0,0.0,1.0

In [119]:
df3 = df2.loc[(df2['aSQL']>0) | (df2['anSQL']>0)]
df3.head()

,creator,datePublished,docType,id,publicationYear,publisher,title,placeOfPublication,ngramCount,anSQLCount,aSQLCount,anSQL,aSQL
1,"[K. Selçuk Candan, Maria Luisa Sapino]",2009-01-01,chapter,ark://27927/pbd1pgqfbnb,2009,Cambridge University Press,Bibliography,NaN,"{'braking distance': 1, 'confidence computatio...",1.0,0.0,1.0,0.0
3,"[Tim J. Stevens, Wayne Boucher]",2015-01-01,chapter,ark://27927/pbd1pgrrq8r,2015,Cambridge University Press,20 Databases,NaN,"{'The converse': 1, 'conformation. Where': 1, ...",1.0,0.0,1.0,0.0
15,"[Russell A. Poldrack, Thomas Nichols, Jeanette...",2009-01-01,chapter,ark://27927/pbd6bn866k,2009,Cambridge University Press,Appendix B Data organization and management,NaN,"{'data; for': 1, 'data reside': 1, 'a larger':...",0.0,1.0,0.0,1.0
17,"[Tony McEnery, Andrew Hardie]",2011-01-01,chapter,ark://27927/pbd6bvp8dh,2011,Cambridge University Press,2 Accessing and analysing corpus data,NaN,"{'nears Britain': 1, 'data points': 1, 'this, ...",1.0,0.0,1.0,0.0
20,"[Ari Jaaksi, Juha-Markus Aalto, Ari Aalto, Kim...",2009-01-01,chapter,ark://27927/pbd6f4pcdd,2009,Cambridge University Press,CHAPTER 2 OBJECT-ORIENTED DATA MANAGEMENT,NaN,"{'subtype concept': 1, 'Requirements keep': 1,...",0.0,1.0,0.0,1.0

In [120]:
df3.to_csv('SQLBigramData.csv')